* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: rgb(70, 152, 244);
    background: linear-gradient(90deg, rgba(70, 152, 244, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.container {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 800px;
    /* background-color: #fff; */
    padding: 10px;
}

.container h1 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;

}

form input {
    width: 90%;
    border: none;
    color: #333;
    font-size: 22px;
    border: none;
    outline: none;
    border-bottom: 2px solid #333;
    margin-bottom: 20px;
    background-color: transparent;
}

form button {
    font-size: 22px;
    padding: 5px;
    border: none;
    background-color: #333;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
}

form button:hover {
    background-color: white;
    color: #333;
}

h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}

ol {
    list-style: none;
}

ol.notCompleted li {
    background-color: tomato;
}

ol.completed li {
    background-color: springgreen;
}

ol li {
    margin: 10px;
    padding: 18px;
}

ol li button {
    float: right;
    background-color: transparent;
    border: none;
    margin-right: 15px;
    font-size: 18px;
    transition: .3s;
    cursor: pointer;
}

ol li button:hover {
    color: white;
}

@media (orientation:portrait) {
    form input {
        width: 80%;

    }
}